button {
    
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;

    border-radius: 3px;
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
    background-color: #2ecc71;
    border: none;
    border-bottom: 5px solid #27ae60;
    text-shadow: 0px -2px #27ae60;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
   }
   
   button:hover, button:active {
    -webkit-transform: translate(0px,5px);
    -ms-transform: translate(0px,5px);
    transform: translate(0px,5px);
    border-bottom: 1px solid #2ecc71;
   }


h1{
    display: flex;
    justify-content: center;
}
#options{
    display: flex;
    justify-content: center;
}